  SetHandler default-handler
  ForceType application/octet-stream
  Header set Content-Disposition attachment

  # The following unsets the forced type and Content-Disposition headers
  # for known image files:
  <FilesMatch "(?i)\.(gif|jpe?g|png)$">
    ForceType none
    Header unset Content-Disposition
  </FilesMatch>

  # The following directive prevents browsers from MIME-sniffing the content-type.
  # This is an important complement to the ForceType directive above:
  Header set X-Content-Type-Options nosniff